@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

header {
	display: flex;
	justify-content: center;	
	position: relative;
	bottom: 50px;
	
}

body{
	font-family: Arial, sens-serif;
	background-color: white;
	}

div#interface {
	width: 90%;
	height: 600px;
	margin: 50px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
}
p{
	text-align: justify;
	text-indent: 50px;
}
a{
	color: #606060;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

header#cabecalho{
	height: 70px;
}
header#cabecalho h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	padding-top: 110px;
	margin-bottom: 0px;
	text-align: center;
}

div#FormLogin {
	padding-top: 100px;
	width: 400px;
	position: relative;
	padding-left: 33%; 	 
}

div#mensagem {
	color: red;
	display: flex;
	justify-content: center;
	position: relative;
	top: 350px
}

fieldset#usuario {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

div#RecuperarAdmin {
	font-size: 12pt;
}
div#Botaologin {
	text-align: center;
	font-size: 16pt;
}

input#cLogin {
	position: center;
	text-align: center;
	font-size: 16pt;
	border-radius: 10px;
	width: 200px;
	background-color: rgb(217, 226, 228)
}

input#cNome {
	width: 230px;
	height: 25px;	
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

input#cSenha {
	width: 230px;
	height: 25px;		
	border-radius: 5px;
}



div#RecuperarAdmin {
	text-align: left;
	font-size: 10pt;	
}

footer#rodape {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 140px;
	clear: both;
}


footer {
	height: 50px;
}



